/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFE8C5;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* navbar */
#navbar{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: #FFE8C5;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

    .navbar-brand{
        margin-left: 15vw;
        color: rgb(0, 0, 0);
        img{
            margin-right: 2vw;
            width: 130px;
            height: auto;
        }
    }
}
#navbarNav{
    margin-right: 15vw;
    height: min-content;
}
.nav-link{
    margin-right: 0.5vw;
    text-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    font: "Montserrat", sans-serif;
    color: #f3700bc4;
    font-size: 1.5vh 1.5vw;
    font-weight: 700;
    &:hover{
        color: #f3700b;
    }
}
#navIconsGroup{
    margin-right: 300px;
}
#navIcons{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    opacity: 0.9;
    display: flex;
    &:hover{
        opacity: 1;
        color: #f3700b;
    }
}
